<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Fragments</title>
</head>
<body>
	<div class="header" th:fragment="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href="home"><img src="images/lg.png" alt="" width="40px" height="45px"/></a>
					 </div>
					 <div class="menu">
						  <a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
						    <ul class="nav" id="nav">
						    	<li><a href="home">Accueil</a></li>
						    	<li><a href="categories">Produits</a></li>
						    	<li><a href="realisations">Realisations</a></li>
						    	<li><a href="devis">Devis</a></li>
						    	<li><a href="groupes">Groupes</a></li>
								<li><a href="contact">Infos</a></li>								
								<div class="clear"></div>
							</ul>
							<script type="text/javascript" src="js/responsive-nav.js"></script>
				    </div>							
	    		    <div class="clear"></div>
	    	    </div>
	    	    <div>
	    	
	                    <div class="header_right">
	            	<a href="connexion" value="[[${session.utilisateurConnecte}]]">Connexion</a>
		        	<div class="clear"></div>
	       </div>
	    		 
		           <div class="clear"></div>
		           
	       </div>
	      </div>
		 </div>
	    </div>
	</div>
	
		<div class="footer" th:fragment="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>Mon compte</h4>
							<li><a href="#">Mes commandes</a></li>
							<li><a href="#">Retours</a></li>
							<li><a href="#">Avoirs</a></li>
							<li><a href="#">Informations Personelles</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>Infos</h4>
							<li><a href="#">Promotions</a></li>
							<li><a href="#">Nouveaux produits</a></li>
							<li><a href="#">Meilleures ventes</a></li>
							<li><a href="#">Le Magasin</a></li>
							<li><a href="#">SiteMap</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>La boutique</h4>
							<li><a href="#">Contact : 03 27 67 19 65 - 06 13 17 16 20</a></li>
							<li><a href="#">Adresse : Relic59, </br>14 IDT Route de Valenciennes </br>59600 MAUBEUGE France</a></li>
							<li><a href="#">Email : contact@relic59.fr</a></li>
							
						</ul>
					</div>
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>Newsletter</h4>
							<div class="footer_search">
				    		   <form>
				    			<input type="text" value="Entrer l'email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
				    			<input type="submit" value="Go">
				    		   </form>
					        </div>
							<ul class="social">	
							  <li class="facebook"><a href="#"><span> </span></a></li>
							
							  <li class="instagram"><a href="#"><span> </span></a></li>	
																  				
						    </ul>
		   					
						</ul>
					</div>
				</div>
				<div class="row footer_bottom">
				   
					  <dl id="sample" class="dropdown">
				        <dt><a href="#"><span>Changer de langue</span></a></dt>
				        <dd>
				            <ul>
				                <li><a href="#">Australia<img class="flag" src="images/as.png" alt="" /><span class="value">AS</span></a></li>
				                <li><a href="#">Sri Lanka<img class="flag" src="images/srl.png" alt="" /><span class="value">SL</span></a></li>
				                <li><a href="#">Newziland<img class="flag" src="images/nz.png" alt="" /><span class="value">NZ</span></a></li>
				                <li><a href="#">Pakistan<img class="flag" src="images/pk.png" alt="" /><span class="value">Pk</span></a></li>
				                <li><a href="#">United Kingdom<img class="flag" src="images/uk.png" alt="" /><span class="value">UK</span></a></li>
				                <li><a href="#">United States<img class="flag" src="images/us.png" alt="" /><span class="value">US</span></a></li>
				            </ul>
				         </dd>
	   				  </dl>
   				</div>
			</div>
		</div>

</body>
</html>