<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Contact</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });
                        
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
 </head>
<body>
	<div class="header" th:insert="~{common :: header}">
		
	  </div>>
		
	  </div>
     <div class="main">
      <div class="shop_top">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
				  <div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2549.489413767031!2d3.971152915007225!3d50.28279150731343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c242819c3b925b%3A0x8c65ac08205d8cc7!2s14+Route+de+Valenciennes%2C+59600+Maubeuge!5e0!3m2!1sfr!2sfr!4v1485273187566"></iframe><br><small><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2549.489413767031!2d3.971152915007225!3d50.28279150731343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c242819c3b925b%3A0x8c65ac08205d8cc7!2s14+Route+de+Valenciennes%2C+59600+Maubeuge!5e0!3m2!1sfr!2sfr!4v1485273187566" style="color:#666;text-align:left;font-size:12px"></a></small>
				  </div>
				</div>
				<div class="col-md-5">
					<p class="m_8">L'adresse du magasin Relic 59</p>
					<div class="address">
				                <p>14 IDT Route de Valenciennes 59600</p>
						   		<p>MAUBEUGE</p>
						   		<p>France</p>
				   		<p>Telephone: 03 27 67 19 65 - 06 13 17 16 20</p>
				 	 	<p>Email: <span>contact@relic59.fr</span></p>
				   		<p>Nous suivre: <span>Facebook</span>, <span>Twitter</span></p>
				   </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 contact">
				  <form method="post" action="contact">
				  <h3>Nous contacter</h3>
					<div class="to">
                     	<input type="text" class="text" value="nom" name="nom" id="nom" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nom';}">
					 	<input type="text" class="text" value="email" name="email" id="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
					 	<input type="text" class="text" value="sujet" name="sujet" id="sujet" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Sujet';}">
					</div>
					<div class="text">
	                   <textarea value="message:" name="message" id="message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
	                   <div class="form-submit">
			           <input name="submit" type="submit" id="submit" value="Soumettre"><br>
			           </div>
	                </div>
	                <div class="clear"></div>
                   </form>
			     </div>
		    </div>
	     </div>
	   </div>
	  </div>
	  <div class="footer" th:insert="~{common :: footer}">

		</div>
</body>	
</html>