<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Free Snow Bootstrap Website Template | Contact :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/vijays_shop.css" type="text/css" >
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });
                        
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
 </head>
<body>
	<div class="header" th:insert="~{common :: header}">
	
	  </div>
     <div class="main">
      <div id="big_wrapper">            
            <center><h2> Bienvenue admin</h2></center> <br /> <br />
           
               <!--<div class="logmeout"> <input type="submit" name="signout" value=" Se deconnecter "> </div>   -->  
                <nav id="links"> 
                    <ul>                        
                        <li> <a href="admin_insert.jsp" title="Insérer un article" > <img id="insert"  border="0" src="images/insert.jpg" width="75" height="75" alt="Loading" /> </a> </li>
                        <li> <a href="admin_update.jsp" title="M.A.J article" > <img id="insert"  border="0" src="images/update.jpg" width="75" height="75" alt="Loading" /> </a> </li>
                        <li> <a href="admin_remove.jsp" title="Supprimer un article" > <img id="insert"  border="0" src="images/delete.png" width="75" height="75" alt="Loading" /> </a> </li>                    
                        <li> <a href="admin_view_all.jsp" title="Liste des articles" > <img id="insert"  border="0" src="images/view.jpg" width="75" height="75" alt="Loading" /> </a> </li>                    
                    </ul>
                </nav>
              
                    </div>
                    </br>
 <h3> Renseignez ici les informations sur votre article</h3> <br /> 
                    
                    <form action="insert" method="post">
                    <label class="labell" for="id">Catégorie : </label>
                    </label><select name="id" id="id">
                        <option th:each="categorie : ${categories}" th:value="${categorie.id}">[[${categorie.nom}]]</option>
                       
                    </select> </br>
                    <label class="labell" for="id_article">ID article :</label>
						      <input type="text" name="id_article" class="champ" value="id_article" > <br/>
                  <label class="labell" for="nom">Nom :</label>
						      <input type="text" name="nom" class="champ" value="nom">
                     <br /> 
                     <label class="labell" for="description">Description :</label>
						      <input type="text" name="description" class="champ" value="description" >
                    <br />  
                    <label class="labell" for="prix">Prix :</label>
						      <input type="text" name="prix" class="champ" size="5" value="prix">
                   <br />  </br> </br>
                  
                    <input type="submit" value="  Insérer  "/>
             </br>
                </center>
                <br /> <br />
        </form>
                    </div>
	  </div>
	  <div class="footer" th:insert="~{common :: footer}">
			
		</div>
</body>	
</html>